@import url('https://fonts.googleapis.com/css?family=Song+Myung');
*{
    margin: 0;
    padding: 0;
    font-family: 'Song Myung', serif;
    border-radius: 2px;   
}
.main{
    display: flex;
    justify-content: center;
    height: 100vh;        
    background: url(https://www.mcdonalds.com/content/dam/prelaunch/ca/web/promotions/desktop/en/McDELIVERY-PromoTile.jpg) no-repeat;
    background-size: cover;
}
.main-row {
    width: 50%;
    margin: auto;   
    text-align: center;     
    background-color: #feb725;
    box-shadow: 0 15px 110px rgba(0,0,0,0.19), 0 7px 14px rgba(0,0,0,0.23);
}
.header{
    padding: 17px 10px;
    font-size: 36px;
    color: black;
}

.redText{
    color: rgb(235, 28, 38);
}
.mcdonalds-icon{
    width: 79px;
    height: 74px   
}
